body {
    display: block;
    margin: 0;
    color: #EBEFE7;
    height: 100%;
    overflow: auto;
}

button {
    font-family: inherit;
    font-size: inherit;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: 0;
    color: inherit;
    padding: 0;
}

input[type="text"] {
    background-color: inherit;
    border: 0;
    resize: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0px 0px 0px 4px;
}

select {
    background-color: inherit;
    color: inherit;
    border: 0px;
    font-family: inherit;
    font-size: inherit;
}

button:hover,
input:hover,
select:hover,
input:focus,
select:focus {
    background-color: #3C3A3A;
    border-color: #3C3A3A;
}

/* Generic */

.light {
    background-color: #45443B;
}

.dark {
    background-color: #262626;
}

.tab {
    word-break: break-all;
    line-height: inherit;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
    height: 100%;
    padding: 0px 5px;
}

.tabs {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 22px;
    table-layout: fixed;
}

.tabs>li {
    display: table-cell;
    height: 100%;
}

.tabMenu.top>.contents {
    height: calc(100% - 22px);
}

.tabMenu.left>.tabs {
    display: grid;
    width: 80px;
    float:  left;
    height: 100%;
}

.tabMenu.left>.contents {
    width: calc(100% - 80px);
    float: right;
}

.contents {
    padding: 5px;
    box-sizing: border-box;
    height: 100%;
}

.content {
    height: 100%;
    overflow: auto;
}

.field {
    display: block;
    padding: 4px 6px;
    overflow: hidden;
}

.field>input {
    width: 20%;
}

.field>.title {
    width: 20%;
    position: relative;
    float: left;
    border-right: 4px;
    border-right-color: #45443B;
    border-right-style: double;
    margin-right: 4px;
    padding-right: 4px;
}

.field:hover {
    background-color: #3C3A3A;
    border-color: #262626;
}

.filterBar {
    font-size: inherit;
    width: 100%;
    height: 25px;
}

.buttonPair {
    width: 50%;
    text-align: center;
    font-size: 1.5em;
    user-select: none;
}

.buttonPair:hover {
    background-color: #3C3A3A;
}

.filterDiv {
    margin-bottom: 5px;
}

/* Generic End */

/* Main Layout */

#main>.tabs {
    font-size: 1.5em;
    height: 45px;
}

#main>.contents {
    height: calc(100% - 45px);
}

/* Main Layout End */

/* Editor Tab */
.CodeMirror {
    float: left;
    width: calc(50% - 5px);
    height: 100%;
}

#editor-content-output {
    float: right;
    width: 50%;
    height: 100%;
}

.editor-error {
    background: #9d1e15;
}

#editor-output {
    width: calc(50% - 12px);
    height: calc(100% - 10px);
    position: absolute;
    left: calc(50% + 8px);
}

#editor-output>.tabs {
    height: 25px;
}

#editor-output>.content {
    height: calc(100% - 25px);
}

#editor-debug span {
    padding-right: 10px;
    padding-bottom: 3px;
}

#editor-debug span.out-text {
    display: block;
    padding-left: 20px;
}

#editor-debug span.out-lineNum,
#editor-debug span.out-token,
#editor-debug span.out-stack {
    font-family: monospace;
    font-size: 11px;
    color: lightblue;
}

#editor-debug .out-node,
#editor-debug .out-nodeValue {
    padding-left: 10px;
}
#editor-debug .out-nodeValue {
    display:block;
}
#editor-debug .out-nodeType {
    color: lightblue;
}

#editor-preview-content, #editor-gameraw-content {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    line-height: 1;
}

#editor-tags-tab-menu {
    height: calc(100% - 1.5em - 5px);
}

#editor-tags-tab-menu ul {
    list-style-type: none;
    margin-block-start: unset;
    margin-block-end: unset;
    overflow-y: auto;
    height: inherit;
}

#editor-tags-tab-menu li {
    width: 100%;
}

.select-original-value {
    background-color: rgba(69, 68, 59, .99);
}

button.parserTagName {
    width: 100%;
}

div.parserTag {
    display: flex;
}

.parserTagDesc>div {
    color: cyan;
}

.parserTagDesc>span {
    padding-left: 1em;
    display: block;
}

.parserTagHelp {
    width: 2em;
}

.parserTagName {
    word-break: break-word;
}

.editor-error {
    background: #9d1e15;
}

#editor-debug span {
    padding-right: 10px;
    padding-bottom: 3px;
}

#editor-debug span.out-text {
    display: block;
    padding-left: 20px;
}

#editor-debug span.out-lineNum,
#editor-debug span.out-token,
#editor-debug span.out-stack {
    font-family: monospace;
    font-size: 11px;
    color: lightblue;
}

#editor-debug .out-node,
#editor-debug .out-nodeValue {
    padding-left: 10px;
}
#editor-debug .out-nodeValue {
    display:block;
}
#editor-debug .out-nodeType {
    color: lightblue;
}

#editor-preview-content, #editor-gameraw-content {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    line-height: 1;
}

#parser-tags>.tabMenu.left {
    height: calc(100% - 160px);
}

#parser-tag-list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    height: calc(100% - 133px - 1.5em);
}

#parser-tag-desc {
    height: 120px;
    overflow: auto;
    margin: 5px 0px;
}

#parser-tag-desc>div {
    color: lightblue;
}

#parser-tag-desc>span {
    padding-left: 1em;
    display: block;
}

/* Editor Tab End */

/* Char Tab */

.collapsingButton {
    width: 100%;
    padding: 2px 2px;
    text-align: left;
    border-width: 5px;
}

.collapsingButton.dark {
    border-style: solid;
    border-color: #262626;
}

.collapsingButton.dark:hover {
    border-color: #3C3A3A;
}

.collapsingButton.light {
    border-style: solid solid none solid;
    border-color: #262626;
}

.collapsingButton.light:hover {
    border-color: #262626;
}

.fieldContent {
    border-style: none solid solid solid;
    border-width: 5px;
    border-color: #262626;
    padding: 5px;
}

.addRemoveButtons {
    margin-bottom: 5px;
}

.multioptionList {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 10em;
    overflow: auto;
}

.multioption.selected {
    background-color: #00bc8c;
}

.multioption {
    padding-left: 5px;
}

/* Char Tab End */

/* Flag Tab */

.flags {
    margin: 0px;
    padding: 0px;
    height: calc(100% - 30px);
    overflow: auto;
}

.flags .title {
    width: calc(100% - 20% - 12px);
}

/* Flag Tab End */

/* Important */

.collapsed {
    display: none;
}

/* Important End */
